<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.yjrc.dao.PersonDao">

	<resultMap id = "result" type = "org.yjrc.domain.Person">
	   <result property = "id" column = "ID"/>
	   <result property = "name" column = "NAME"/>
	   <result property = "userName" column = "USERNAME"/>
	   <result property = "gender" column = "gender"/>
	   <result property = "dateOfBirth" column = "date_of_birth" />
	   <result property = "nationality" column = "nationality" />
	   <result property = "nativePlace" column = "native_place" />
	   <result property = "birthPlace" column = "birth_place" />
	   <result property = "politicalStatus" column = "political_status"/>
	   <result property = "dateOfJoiningTheParty" column = "date_of_joining_the_party"/>
	   <result property = "education" column = "education" />
	   <result property = "healthCondition" column = "health_condition" />
	   <result property = "dateOfStartingToWork" column = "date_of_starting_to_work"/>
	   <result property = "dateOfEntering" column = "date_of_entering" />
	   <result property = "numberOfIdCard" column = "number_of_id_card"/>
	   <result property = "phone" column = "PHONE"/>	
	   <result property = "institution" column = "institution"/>
	   <result property = "position" column = "position"/>   
	   <result property = "professionalTechnicalPosition" column = "professional_technical_position" />
	   <result property = "address" column = "address"/>
	</resultMap>
	
	<select id="getPersonById" parameterType="int" resultMap="result">
		SELECT * FROM PERSON WHERE ID = #{id};
	</select>	
	
	<update id = "savePerson" parameterType = "org.yjrc.domain.Person">
	   UPDATE person SET name = #{name}, gender = #{gender}, date_of_birth = #{dateOfBirth} , 
	   					nationality = #{nationality}, native_place = #{nativePlace} ,
	   					birth_place = #{birthPlace}, political_status = #{politicalStatus} , 
	   					date_of_joining_the_party = #{dateOfJoiningTheParty} ,
	   					education = #{education}, health_condition = #{healthCondition} ,
	   					date_of_starting_to_work = #{dateOfStartingToWork} ,
	   					date_of_entering = #{dateOfEntering},
	   					number_of_id_card = #{numberOfIdCard} , phone = #{phone} ,
	   					institution = #{institution} , position = #{position} ,
	   					professional_technical_position = #{professionalTechnicalPosition} ,
	   					address = #{address} 
	   WHERE ID = #{id};	      
	</update>	
	
	<select id="getAllPerson" resultMap="result">
		SELECT * FROM person;
	</select>
	
	<select id="getPersonCountByRole" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM person WHERE role=#{role};
	</select>
	
	<select id="getPersonByRole" resultMap="result">
		SELECT * FROM person WHERE role=#{role} ORDER BY id LIMIT #{offset}, #{count};
	</select>
	
	<select id="createPerson" parameterType = "org.yjrc.domain.Person">
		insert into person (name, username, password, number_of_id_card, role) values 
				(#{name}, #{userName}, #{password}, #{numberOfIdCard}, #{role});
	</select>
	
	<select id="getCountByNumberOfIdcard" resultType="java.lang.Integer" parameterType = "java.lang.String">
		SELECT COUNT(*) FROM person WHERE number_of_id_card=#{numberOfIdCard};
	</select>
</mapper> 