<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.yjrc.dao.UserDao">
	<resultMap type="org.yjrc.domain.User" id="user">
		<result property = "id" column = "ID"/>	   
	   <result property = "name" column = "NAME"/>
	   <result property="password" column="PASSWORD" />
	   <result property="role" column="ROLE" />
	</resultMap>

	<select id="getUserByUserName" parameterType="String" resultMap="user">
		SELECT ID, NAME, PASSWORD, ROLE FROM PERSON WHERE USERNAME = #{username} LIMIT 1;
	</select>
	
	<update id="changePassword" parameterType="org.yjrc.domain.User">
		UPDATE Person SET PASSWORD = #{password} WHERE ID = #{id};
	</update>

	<select id="getById" parameterType="java.lang.Integer" resultMap="user">
		SELECT ID, NAME, PASSWORD, ROLE FROM PERSON WHERE ID = #{id};
	</select>

</mapper>